#form{
  background-color: rgb(187, 179, 179);
  //margin-bottom: 0;
  height: 400px;
}
// div {
//   form{
//     section{
//       background-color: red;
//     }
//   }
// }

#results {
  position: relative;
  text-align: center;
  bottom: 0;
  // width: 80%;
  margin: 10%;
  border: solid black;
  background-color: rgb(243, 235, 235)
}
