#form{
  background-color: rgb(187, 179, 179);
  margin-bottom: 0;
  height: 100%;
}
div {
  form{
    section{
      background-color: red;
    }
  }
}

// #displayResults {
  
//   height: 100;
//   position: 80%;
//   // bottom: 0;
//   width: 80%;
//   margin: 10%;
//   border: solid black;
//   // background-color: rgb(187, 179, 179)
// }
#results{
  margin: 20%;
  margin-top: 30px; 
}